[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]


[dev-packages]

Django = "<2.2,>=2.1.5"
pytest = "*"
pytest-django = "*"
pytest-mock = "*"
tox = "*"


[requires]
