[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]



[dev-packages]

coverage = "*"
django = "<2.1"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-mock = "*"
tox = "*"
tox-pipenv = "*"
"flake8" = "*"


[requires]

